@model FishBusiness.Models.BoatOwnerReciept

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BoatOwnerReciept</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BoatID" class="control-label"></label>
                <select asp-for="BoatID" class ="form-control" asp-items="ViewBag.BoatID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SarhaID" class="control-label"></label>
                <select asp-for="SarhaID" class ="form-control" asp-items="ViewBag.SarhaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalBeforePaying" class="control-label"></label>
                <input asp-for="TotalBeforePaying" class="form-control" />
                <span asp-validation-for="TotalBeforePaying" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commission" class="control-label"></label>
                <input asp-for="Commission" class="form-control" />
                <span asp-validation-for="Commission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaidFromDebts" class="control-label"></label>
                <input asp-for="PaidFromDebts" class="form-control" />
                <span asp-validation-for="PaidFromDebts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAfterPaying" class="control-label"></label>
                <input asp-for="TotalAfterPaying" class="form-control" />
                <span asp-validation-for="TotalAfterPaying" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

