@model FishBusiness.ViewModels.HalakaBuyRecVm

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/css/apps/scrumboard.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/switches.css">
    <link href="~/assets/css/forms/theme-checkbox-radio.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL STYLES -->
}
<div class="layout-px-spacing">

    <div class="container row mb-0">
        <div class="page-header m-3 ">
            <div class="page-title">
                <h3>تسجيل مشتريات الحلقة</h3>
            </div>
        </div>
        <div class="mt-4 ml-auto">
            <a asp-action="Index" class="btn btn-primary">قائمة الفواتير</a>
        </div>
    </div>

    <div class="action-btn layout-top-spacing mb-1 mt-1">

    </div>
    <div class="row scrumboard" id="cancel-row">

        <div class="col-lg-4 layout-spacing">
            <form asp-action="Create" id="Addform">
                <div class="task-list-section">

                    <div data-section="s-new" class="task-list-container" data-connect="sorting">
                        <div class="connect-sorting">
                            <div class="task-container-header">
                                <h6 class="s-heading" data-listTitle="In Progress">اختر التاريخ </h6>

                            </div>

                            <div class="connect-sorting-content" data-sortable="true">



                                <div data-draggable="true" class="card simple-title-task" style="">
                                    <div class="card-body">

                                        <div class="task-header">
                                            <div class="form-group">
                                                <label class="control-label">تاريخ الفاتوره</label>
                                                <input asp-for="Date"  id="MerRecDate" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div data-draggable="true" class="card simple-title-task" style="">
                                    <div class="card-body">

                                        <div class="task-header">
                                            <div class="form-group">
                                                <label class="control-label"> اسم البائع</label>
                                                <input  class="form-control"  asp-for="SellerName" id="SellerName" />

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="add-s-task">
                                <a class="addTask" data-toggle="modal" data-target="#fadeleftModall"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg> شراء</a>
                            </div>

                        </div>
                    </div>


                </div>
            </form>
        </div>

        <div class="col-xl-8 col-lg-8 col-sm-8  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 ">
                    <table id="BoatOwner" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>

                                <th>
                                    نوع السمك
                                </th>
                                <th>
                                    نوع الانتاج
                                </th>

                                <th>
                                    الكميه
                                </th>

                                <th>
                                    السعر
                                </th>

                                <th>اجمالي</th>
                                <th>#</th>


                            </tr>
                        </thead>
                        <tbody id="BoatBody">
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-info">اجمالي الفاتورة</td>
                                <td id="TotalBeforePayment">0</td>
                                <td><img src="~/assets/img/loader.gif" id="MerchantLoader" style="width:70px;height:70px;display:none;" /></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td> <input type="button" class="btn btn-primary" style="display:none;" id="btnSave" value="حفظ" /></td>
                                <td></td>
                                <td></td>
                            </tr>
                           




                        </tfoot>
                    </table>
                </div>

            </div>

        </div>
    </div>


</div>

<hr />


@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

<input type="hidden" id="ChBoxAmountVar" value="0" />
<input type="hidden" id="trId" value="0" />
<div id="fadeleftModall" class="modal animated fadeInLeft custo-fadeInLeft" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">التفاصيل الخاصة بالاسماك</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    @*<label asp-for="BoatOwnerItem.ProductionType.ProductionName" class="control-label">*</label>*@
                    @*<input type="checkbox" id="ChBoxAmount" onclick="ChangeCheck()" />*@
                    <label class="switch s-icons s-outline s-outline-primary mr-4 col-2">
                        <input type="checkbox" id="ChBoxAmount" onclick="ChangeCheck()">
                        <span class="slider"></span>
                    </label>

                    <span class="col-9">حدد مع اول عناصر البيعه و أزل التحديد مع اخر عناصرها</span>

                </div>
                <div class="form-group">
                    <label class="control-label">نوع السمك</label>
                    <select id="FishItemsDDL" name="FishID" asp-items="ViewBag.FishID as SelectList" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label class="control-label">نوع الانتاج</label>
                    <select asp-items="ViewBag.ProductionTypeID" name="ProductionTypeID" id="ProductionTypeDDL" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">الكميه</label>
                    <input class="form-control" name="Qty" id="QtyID" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">سعر الوحده</label>
                    <input class="form-control" id="UnitPriceID" name="UnitPrice" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer md-button">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> اغلاق</button>
                <button type="button" class="btn btn-primary" id="NewRowss">حفظ</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>

        $(document).ready(function () {





            var i = 0;
            

            $("#btnSave").on("click", function (e) {

                if ($("#MerRecDate").val() == "" || $("#MerRecDate").val()=="") {
                    Swal.fire({
                        icon: 'error',
                        title: 'حدث خطأ',
                        text: 'تاكد من الاسم والتاريخ',
                    });
                    return false;
                }

                $("#MerchantLoader").show();
            
                var CurrentDebt = parseFloat($('#PreviousDebtsAfter').text());
                var TotalBeforePayment = parseFloat($('#TotalBeforePayment').text());
               
                var SellerName = $("#SellerName").val();
                var MerRecDate = $("#MerRecDate").val();
             

                var FishNames = ""
                $('.fishes').each(function () {
                    FishNames += $(this).text();
                    FishNames += ',';

                })
                var ProductionTypes = ""
                $('.productions').each(function () {
                    ProductionTypes += $(this).text();
                    ProductionTypes += ',';

                })
                var qtys = ""
                $('.qtys').each(function () {
                    qtys += $(this).text();
                    qtys += ',';

                })

                var unitprices = ""
                $('.unitprices').each(function () {
                    unitprices += $(this).text();
                    unitprices += ',';

                })

                var body = $("#TBody");
             

                $.ajax({
                    url: "/HalakaBuyReciepts/Create/",
                    type: "POST",
                    dataType: "json",
                    data: {
                        Date: MerRecDate,
                        SellerName: SellerName,
                        TotalOfReciept: TotalBeforePayment,
                        FishNames: FishNames,
                        ProductionTypes: ProductionTypes,
                        qtys: qtys,
                        unitprices: unitprices
                    },
                    traditional: true,
                    statusCode: {
                        415: function () {
                            Response.redirect("/HalakaBuyReciepts/Create/");
                        }
                    },
                    success: function (result) {
                        if (result.message == "success") {
                           
                            $("#MerchantLoader").hide();
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'تم حفظ الفاتورة بنجاح',
                                showConfirmButton: false,
                                timer: 3000
                            });
                            $('#BoatBody').html("");
                            $('#TotalBeforePayment').text("0")
                            $("btnSave").hide()
                          
                        } else {
                           
                            Swal.fire({
                                icon: 'error',
                                title: 'حدث خطأ',
                                text: 'تاكد من الاسم والتاريخ',
                            });
                           
                          
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if (xhr.status == 401) {
                            Swal.fire({
                                icon: 'error',
                                title: 'حدث خطأ',
                                text: 'تاكد من الاسم والتاريخ',
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'حدث خطأ',
                                text: 'تاكد من الاسم والتاريخ',
                            });
                        }
                    }

                });
                e.preventDefault();


            });

            $("#btnCalc").on("click", function () {

                var pd = parseFloat($('#PreviousDebts').text());
                var tbp = parseFloat($('#TotalBeforePayment').text());
                var pfd = parseFloat($('#payFromDebt').val());

                if ($('#payFromDebt').val()) {
                    $('#PreviousDebts').text(
                        (pd + tbp) - pfd)

                }
                else {
                    alert("ادخل قيمة الخصم")
                }
            });



            //*******************************************************


        });
        $("#NewRowss").click(function () {

            var id = $("#trId").val();

            var BoatOwnerItem_FishID = $('#FishItemsDDL option:selected').text()
            var fishID = $('#FishItemsDDL option:selected').val();
            var BoatOwnerItem_ProductionTypeID = $('#ProductionTypeDDL option:selected').text()
            var BoatOwnerItem_Qty = $('#QtyID').val()
            var BoatOwnerItem_UnitPrice = $('#UnitPriceID').val()

            if ($("#ChBoxAmountVar").val() == 1) {
                if (!$("#ChBoxAmount").is(":checked"))
                    $("#ChBoxAmountVar").val(0);
            }

            if ($("#ChBoxAmountVar").val() == "1") {

                var $tr = $('Tbody  tr:last')
                var originalFish = $tr.find("td:eq(0)").text()
                var originalQty = $tr.find("td:eq(2)").text()
                var originalPrice = $tr.find("td:eq(4)").text()
                $tr.find("td:eq(0)").text(originalFish + "/" + BoatOwnerItem_FishID)
                $tr.find("td:eq(2)").text(originalQty + "/" + BoatOwnerItem_Qty)
                if (BoatOwnerItem_UnitPrice != "") {
                    $tr.find("td:eq(4)").text(BoatOwnerItem_UnitPrice)
                } else {
                    $tr.find("td:eq(4)").text(originalPrice)
                }



            }
            else {


                var addControls = "";
                if ($("#ChBoxAmount").is(":checked")) {
                    addControls = "<tr id=row_" + id + " data-price=" + BoatOwnerItem_UnitPrice + " >"
                } else {

                    addControls = "<tr id=row_" + id + " data-price=" + BoatOwnerItem_UnitPrice * BoatOwnerItem_Qty + " >"
                }


                addControls += "<td class='fishes'>" + BoatOwnerItem_FishID + "</td>"
                addControls += "<td class='productions'>" + BoatOwnerItem_ProductionTypeID + "</td>"
                addControls += "<td class='qtys'>" + BoatOwnerItem_Qty + "</td>"
                addControls += "<td class='unitprices'>" + BoatOwnerItem_UnitPrice + "</td>"
                if ($("#ChBoxAmount").is(":checked")) {
                    addControls += "<td class='prices'>" + BoatOwnerItem_UnitPrice + "</td>"
                } else {

                    addControls += "<td class='prices'>" + BoatOwnerItem_UnitPrice * BoatOwnerItem_Qty + "</td>"
                }
                addControls += "<td> <a href='#' onclick=removee('" + id + "')>" + "X</a> </td>"
                addControls += "</tr>";


                if ($("#ChBoxAmount").is(":checked")) {
                    $('#TotalBeforePayment').text(parseFloat($('#TotalBeforePayment').text()) + parseFloat(BoatOwnerItem_UnitPrice));
                } else {

                    $('#TotalBeforePayment').text(parseFloat($('#TotalBeforePayment').text()) + BoatOwnerItem_UnitPrice * BoatOwnerItem_Qty);

                }
                $("#PreviousDebtsAfter").text(parseFloat($('#TotalBeforePayment').text()) + parseFloat($('#PreviousDebts').text()))



                $('#btnSave').show();
               
                $('#QtyID').val('');
                $('#UnitPriceID').val('');
                $('#BoatBody').append(addControls);

            }

            if ($("#ChBoxAmount").is(":checked")) {

                $("#ChBoxAmountVar").val(1)
            } else {
                $("#ChBoxAmountVar").val(0)

            }
            $("#trId").val(parseInt(id) + 1)
        });

        var cookieList = function (cookieName) {
            //When the cookie is saved the items will be a comma seperated string
            //So we will split the cookie by comma to get the original array
            var cookie = $.cookie(cookieName);
            //Load the items or a new array if null.
            var items = cookie ? cookie.split(/,/) : new Array();

            //Return a object that we can use to access the array.
            //while hiding direct access to the declared items array
            //this is called closures see http://www.jibbering.com/faq/faq_notes/closures.html
            return {
                "add": function (val) {
                    //Add to the items.
                    items.push(val);
                    var date = new Date();
                    date.setTime(date.getTime() + (45 * 1000));
                    //Save the items to a cookie.
                    //EDIT: Modified from linked answer by Nick see
                    //      http://stackoverflow.com/questions/3387251/how-to-store-array-in-jquery-cookie
                    $.cookie(cookieName, items.join(','), { expires: date });
                },
                "remove": function (val) {
                    //EDIT: Thx to Assef and luke for remove.
                    indx = items.indexOf(val);
                    if (indx != -1) items.splice(indx, 1);
                    $.cookie(cookieName, items.join(','));
                },
                "clear": function () {
                    items = null;
                    //clear the cookie.
                    $.cookie(cookieName, null);
                },
                "items": function () {
                    //Get all the items.
                    return items;
                }
            }
        }


        var remove = function (id) {

            var price = $("#row_" + id).attr('data-price');
            if (price) {
                var tbp = parseFloat($('#TotalBeforePayment').text());
                var p = parseFloat(price);
                $('#TotalBeforePayment').text(tbp - p)

                $("#row_" + id).remove();
            }
        }

        var removee = function (id) {

            var price = $("#row_" + id).attr('data-price');
            if (price) {
                var tbp = parseFloat($('#TotalBeforePayment').text());
                var p = parseFloat(price);
                $('#TotalBeforePayment').text(tbp - p)

                $("#PreviousDebtsAfter").text(parseFloat($("#PreviousDebtsAfter").text()) - p);
                //$('#commision').val(parseFloat($('#BoatOwnerReciept_PercentageCommission').val()) * parseFloat($('#TotalBeforePayment').text()) / 100)
                //$('#TotalProduction').val(parseFloat($('#TotalBeforePayment').text()) - parseFloat($('#commision').val()))


                $("#row_" + id).remove();
            }
        }


    </script>
}