
@section Styles {

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/css/apps/scrumboard.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/forms/theme-checkbox-radio.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL STYLES -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

}

<div class="layout-px-spacing">
    <div class="container row">
        <div class="page-header m-3">
            <div class="page-title">
                <h3>احمد فتح الله</h3>
            </div>
        </div>
        <div class="mt-4 ml-auto">
            <a asp-action="FathAllahMainProfile" asp-controller="Collectings" class="btn btn-primary">البروفايل</a>
            <a class="btn btn-primary" id="btnFinalSave">حفظ</a>
        </div>
    </div>
    <div class="container row">

        <div class="form-group">
            <label class="control-label" style="margin-right:12px;">رصيد باقى</label>
            <label id="credit" class="control-label" style="color:black">@ViewBag.Credit</label>
            <span class="text-danger"></span>
        </div>

    </div>
    <div class="container row">
        <label class="control-label" style="margin-right:12px;padding-top:7px">اضافة رصيد</label>
        <input class="form-control col-2" name="Price" style="margin-right:5px;" id="FathallahPrice" />
        <select name="PersonID" id="PersonDDL" style="margin-right:5px;" class="form-control col-2" asp-items="ViewBag.People"></select>

        <button type="button" class="btn btn-primary" style="margin-right:5px;" id="btnGiveFathAllah">اضافة</button>
        <img src="~/assets/img/loader.gif" id="loaderFathallah" style="width:50px;height:50px;display:none" />

    </div>



    <div class="row layout-top-spacing" id="cancel-row">

        <div class="col-xl-4 col-lg-4 col-sm-4  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <h3>هالك الحلقه</h3>

                <div class="table-responsive mb-4 mt-4">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th>الاسم </th>
                                <th>القيمه</th>

                            </tr>
                        </thead>
                        <tbody id="TBody">
                        </tbody>
                        <tfoot>

                        </tfoot>

                    </table>


                </div>




            </div>
            <div class="d-flex justify-content-center mt-2">
                <a class="btn btn-primary mt-2" data-toggle="modal" data-target="#MfadeleftModal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>دفع</a>

            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-4  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <h3>مسحوبات ريس مركب</h3>
                <div class="table-responsive mb-4 mt-4">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th>اسم</th>
                                <th>المبلغ</th>



                            </tr>
                        </thead>
                        <tbody id="TBody2">
                        </tbody>

                        <tfoot>

                        </tfoot>

                    </table>


                </div>



            </div>
            <div class="d-flex justify-content-center mt-2">

                <a class="btn btn-primary mt-2" data-toggle="modal" data-target="#MfadeleftModal2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>دفع</a>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-4  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <h3>هالك مراكب</h3>
                <div class="table-responsive mb-4 mt-4">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th>اسم المركب</th>
                                <th>المبلغ</th>
                                <th>نوع الهالك</th>

                            </tr>
                        </thead>
                        <tbody id="TBody3">
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>


                </div>
            </div>
            <div class="d-flex justify-content-center mt-2">

                <a class="btn btn-primary mt-2" data-toggle="modal" data-target="#MfadeleftModal3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>دفع</a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-4  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <h3>مصروف مركب</h3>
                <div class="table-responsive mb-4 mt-4">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th>اسم المركب</th>
                                <th>المبلغ</th>
                                <th>سبب المصروف</th>

                            </tr>
                        </thead>
                        <tbody id="TBodyExpenses">
                            

                        </tbody>
                        <tfoot>
                            <tr id="totalOfPayment_trExpenses">
                                <td>
                                    الاجمالى
                                </td>
                                <td id="totalExpenses">
                                   0
                                </td>
                            </tr>
                        </tfoot>
                    </table>


                </div>
            </div>
            <div class="d-flex justify-content-center mt-2">

                <a class="btn btn-primary mt-2" data-toggle="modal" data-target="#MfadeleftModal5"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>دفع</a>
            </div>
        </div>

    </div>





</div>

<div id="MfadeleftModal" class="modal animated fadeInLeft custo-fadeInLeft" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">هالك حلقه</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <form id="MyForm">

                    <div class="form-group" style="margin-top:10px">
                        <label class="control-label">اختر تاجر</label>
                        <select name="MerchantID" id="MerchantDDL" class="form-control" asp-items="ViewBag.Halek"></select>

                    </div>

                    <div class="form-group">
                        <label class="control-label">المبلغ</label>
                        <input class="form-control" name="Price" id="Price" />
                        <span class="text-danger"></span>
                    </div>

                </form>
            </div>

            <div class="modal-footer md-button">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> اغلاق</button>
                <button type="button" class="btn btn-primary" id="MNewRows">حفظ</button>
            </div>
        </div>
    </div>
</div>

<div id="MfadeleftModal2" class="modal animated fadeInLeft custo-fadeInLeft" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">مسحوبات ريس مركب</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <form id="MyForm">

                    <div class="form-group">
                        <label class="control-label">اختر ريس مركب</label>
                        <select name="MerchantID" id="MerchantDDLTo" class="form-control" asp-items="ViewBag.Leaders"></select>

                    </div>

                    <div class="form-group">
                        <label class="control-label">المبلغ</label>
                        <input class="form-control" name="Price" id="PriceTo" />
                        <span class="text-danger"></span>
                    </div>

                </form>
            </div>

            <div class="modal-footer md-button">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> اغلاق</button>
                <button type="button" class="btn btn-primary" id="MNewRows2">حفظ</button>
            </div>
        </div>
    </div>
</div>

<div id="MfadeleftModal3" class="modal animated fadeInLeft custo-fadeInLeft" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">هالك مراكب</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <form id="MyForm">

                    <div class="form-group">
                        <label class="control-label">اختر مركب</label>
                        <select name="BoatID" id="BoatDDL" class="form-control" asp-items="ViewBag.Boats"></select>

                    </div>

                    <div class="form-group">
                        <label class="control-label">اختر هالك</label>
                        <select name="DebtID" id="DebtDDL" class="form-control" asp-items="ViewBag.Halek"></select>

                    </div>

                    <div class="form-group">
                        <label class="control-label">المبلغ</label>
                        <input class="form-control" name="Price" id="PriceHalek" />
                        <span class="text-danger"></span>
                    </div>

                </form>
            </div>

            <div class="modal-footer md-button">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> اغلاق</button>
                <button type="button" class="btn btn-primary" id="MNewRows3">حفظ</button>
            </div>
        </div>
    </div>
</div>

<div id="MfadeleftModal5" class="modal animated fadeInLeft custo-fadeInLeft" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> مصروف مركب</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <form id="MyForm">

                    <div class="form-group">
                        <label class="control-label">اختر مركب</label>
                        <select name="BoatID" id="BoatDDLExpenses" class="form-control" asp-items="ViewBag.Boats"></select>

                    </div>

                    <div class="form-group">
                        <label class="control-label">السبب</label>
                        <input class="form-control" type="text" name="Cause" id="Cause" />

                    </div>

                    <div class="form-group">
                        <label class="control-label">المبلغ</label>
                        <input class="form-control" name="ExpensePrice" id="ExpensePrice" />
                        <span class="text-danger"></span>
                    </div>

                </form>
            </div>

            <div class="modal-footer md-button">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> اغلاق</button>
                <button type="button" class="btn btn-primary" id="MNewRows5">حفظ</button>
            </div>
        </div>
    </div>
</div>


<input type="text" id="indexer" style="display:none" value="0" />
<input type="text" id="totalPaidForMerchants" style="display:none" value="0" />

@section scripts{

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>

        $(document).ready(function () {


            $("#MNewRows").on('click', function () {
                //var ice = parseFloat($('#ice').val());
                //var labour = parseFloat($('#labour').val());

                //var totalOfPurchases = parseFloat($('#totalOfPurchases').text());
                //var totalOfSales = parseFloat($('#totalOfSales').text());
                //var totalOfCars = parseFloat($('#totalOfCars').text());

                //if ($("#chkMagdy").is(":checked")) {
                //    MerchantName = "الحج مجدى"
                //} else {
                var MerchantName = $('#MerchantDDL option:selected').text()


                var Price = $('#Price').val()
                var i = $('#indexer').val();
                var addControls = "<tr id='row_" + i + "' data-price=" + Price + ">"
                addControls += "<td class='Place'>" + MerchantName + "</td>"
                addControls += "<td class='Price'>" + Price + "</td>"
                addControls += "<td> <a href='#' onclick=remove('" + i + "')>" + "X</a> </td>"
                addControls += "</tr>";

                $('#NoPayment').text('');
                $('#totalOfPayment_tr').show();
                $('#totalOfPayment').text(parseFloat($('#totalOfPayment').text()) + parseFloat(Price));
                $('#TBody').append(addControls);
                i++;
                $('#indexer').val(i)
                $('#credit').text(parseFloat($('#credit').text()) - parseFloat(Price));
            })

            $("#MNewRows2").on('click', function () {

                var LeaderName = $('#MerchantDDLTo option:selected').text()
                var Price = $('#PriceTo').val()
                var i = $('#indexer').val();
                var addControls = "<tr id='row_" + i + "' data-price=" + Price + ">"
                addControls += "<td class='ToLeaderName'>" + LeaderName + "</td>"
                addControls += "<td class='ToPrice'>" + Price + "</td>"
                addControls += "<td> <a href='#' onclick=removeTo('" + i + "')>" + "X</a> </td>"
                addControls += "</tr>";

                $('#NoPaymentTo').text('');
                $('#totalOfPayment_tr2').show();
                $('#totalOfPaymentTo').text(parseFloat($('#totalOfPaymentTo').text()) + parseFloat(Price));
                $('#TBody2').append(addControls);
                i++;
                $('#indexer').val(i)
                $('#credit').text(parseFloat($('#credit').text()) - parseFloat(Price));
            })

            $("#MNewRows3").on('click', function () {

                var BoatName = $('#BoatDDL option:selected').text()
                var DebtName = $('#DebtDDL option:selected').text()
                var Price = $('#PriceHalek').val()
                var i = $('#indexer').val();

                var addControls = "<tr id='row_" + i + "' data-price=" + Price + ">"
                addControls += "<td class='BoatName'>" + BoatName + "</td>"
                addControls += "<td class='HalekPrice'>" + Price + "</td>"
                addControls += "<td class='HalekName'>" + DebtName + "</td>"

                addControls += "<td> <a href='#' onclick=removeHalek('" + i + "')>" + "X</a> </td>"
                addControls += "</tr>";

                $('#NoPaymentTo').text('');
                $('#totalOfPayment_tr3').show();
                $('#totalHalek').text(parseFloat($('#totalHalek').text()) + parseFloat(Price));
                $('#TBody3').append(addControls);
                i++;
                $('#indexer').val(i)
                $('#credit').text(parseFloat($('#credit').text()) - parseFloat(Price));
            })

            $("#MNewRows5").on('click', function () {

                var BoatName = $('#BoatDDLExpenses option:selected').text()
                var Cause = $('#Cause').val()
                var ExpensePrice = $('#ExpensePrice').val()
                var i = $('#indexer').val();

                var addControls = "<tr id='row_" + i + "' data-price=" + ExpensePrice + ">"
                addControls += "<td class='BoatNameExpenses'>" + BoatName + "</td>"
                addControls += "<td class='ExpensePrice'>" + ExpensePrice + "</td>"
                addControls += "<td class='Cause'>" + Cause + "</td>"

                addControls += "<td> <a href='#' onclick=removeHalek('" + i + "')>" + "X</a> </td>"
                addControls += "</tr>";

                //$('#NoPaymentTo').text('');
                $('#totalOfPayment_trExpenses').show();
                $('#totalExpenses').text(parseFloat($('#totalExpenses').text()) + parseFloat(ExpensePrice));
                $('#TBodyExpenses').append(addControls);
                i++;
                $('#indexer').val(i)
            })


            $("#btnGiveFathAllah").on('click', function () {
                $("#loaderFathallah").show();
                var price = parseFloat($("#FathallahPrice").val())
                var personID = parseInt($("#PersonDDL").val())
                $.ajax({
                    url: "/Collectings/GiveFathAllah/",
                    type: "POST",
                    dataType: "json",
                    data: {
                        price: price,
                        personID: personID

                    },
                    success: function (result) {
                        if (result.message == "success") {
                            $('#credit').text(result.newCredit);
                            $("#loaderFathallah").hide();
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'تم اضافة رصيد',
                                showConfirmButton: false,
                                timer: 3000
                            });

                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'حدث خطأ',
                                text: 'حاول مرة اخري',
                            });

                        }


                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'حدث خطأ',
                            text: 'حاول مرة اخري',
                        });

                    }
                });
            })


            $("#btnFinalSave").on('click', function () {


                var Place = new cookieList("Place"); //هالك الحلقه
                $('.Place').each(function () {
                    if ($(this).text() != '') {
                        Place.add($(this).text());
                    }
                })
                var Price = new cookieList("Price");
                $('.Price').each(function () {
                    if ($(this).text() != '') {

                        Price.add($(this).text());
                    }
                })
                //-----------------------------------------------
                var BoatNameExpenses = new cookieList("BoatNameExpensesCookie"); // المصروف اللى دفعناه
                $('.BoatNameExpenses').each(function () {
                    BoatNameExpenses.add($(this).text());
                })
                var ExpensePrice = new cookieList("ExpensePriceCookie");
                $('.ExpensePrice').each(function () {
                    ExpensePrice.add($(this).text());
                })
                var Cause = new cookieList("CauseCookie");
                $('.Cause').each(function () {
                    Cause.add($(this).text());
                })
                //---------------------------------------------------------


                var ToLeader = new cookieList("ToLeader"); // مسحوبات ريس
                $('.ToLeaderName').each(function () {
                    if ($(this).text() != '') {

                        ToLeader.add($(this).text());
                    }
                })
                var ToPrice = new cookieList("ToPrice");
                $('.ToPrice').each(function () {
                    if ($(this).text() != '') {

                        ToPrice.add($(this).text());
                    }
                })

                //---------------------------------------------------------
                var BoatName = new cookieList("BoatName"); // هالك مراكب
                $('.BoatName').each(function () {
                    if ($(this).text() != '') {

                        BoatName.add($(this).text());
                    }
                })
                var HalekPrice = new cookieList("HalekPrice");
                $('.HalekPrice').each(function () {
                    if ($(this).text() != '') {

                        HalekPrice.add($(this).text());
                    }
                })
                var HalekName = new cookieList("HalekName");
                $('.HalekName').each(function () {
                    if ($(this).text() != '') {
                        HalekName.add($(this).text());

                    }
                })



                var fathallahFinalCredit = parseFloat($('#credit').text());
                //-----------------------------------------------

                //var totalPaidForUs = parseFloat($('#totalOfPayment').text());
                //var totalPaidForMerchants = parseFloat($("#totalPaidForMerchants").val());

                $.ajax({
                    url: "/Collectings/FathAllahCalc/",
                    type: "POST",
                    dataType: "json",
                    data: {
                        fathallahFinalCredit: fathallahFinalCredit

                    },
                    success: function (result) {
                        if (result.message == "success") {

                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'تم حفظ العمل بنجاح',
                                showConfirmButton: false,
                                timer: 3000
                            });

                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'حدث خطأ',
                                text: 'حاول مرة اخري',
                            });

                        }


                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'حدث خطأ',
                            text: 'حاول مرة اخري',
                        });

                    }
                });

            })
        })
        var remove = function (id) {
            var price = $("#row_" + id).attr('data-price');

            if (price) {
                $('#credit').text(parseFloat($('#credit').text()) + parseFloat(price));
                $("#row_" + id).remove();
            }
        }

        var removeTo = function (id) {
            var price = $("#row_" + id).attr('data-price');

            if (price) {
                $('#credit').text(parseFloat($('#credit').text()) + parseFloat(price));
                $("#row_" + id).remove();
            }
        }

        var removeHalek = function (id) {
            var price = $("#row_" + id).attr('data-price');

            if (price) {
                $('#credit').text(parseFloat($('#credit').text()) + parseFloat(price));
                $("#row_" + id).remove();
            }
        }



        var cookieList = function (cookieName) {
            //When the cookie is saved the items will be a comma seperated string
            //So we will split the cookie by comma to get the original array
            var cookie = $.cookie(cookieName);
            //Load the items or a new array if null.
            var items = cookie ? cookie.split(/,/) : new Array();

            //Return a object that we can use to access the array.
            //while hiding direct access to the declared items array
            //this is called closures see http://www.jibbering.com/faq/faq_notes/closures.html
            return {
                "add": function (val) {
                    //Add to the items.
                    items.push(val);
                    var date = new Date();
                    date.setTime(date.getTime() + (45 * 1000));
                    //Save the items to a cookie.
                    //EDIT: Modified from linked answer by Nick see
                    //      http://stackoverflow.com/questions/3387251/how-to-store-array-in-jquery-cookie
                    $.cookie(cookieName, items.join(','), { expires: date });
                },
                "remove": function (val) {
                    //EDIT: Thx to Assef and luke for remove.
                    indx = items.indexOf(val);
                    if (indx != -1) items.splice(indx, 1);
                    $.cookie(cookieName, items.join(','));
                },
                "clear": function () {
                    items = null;
                    //clear the cookie.
                    $.cookie(cookieName, null);
                },
                "items": function () {
                    //Get all the items.
                    return items;
                }
            }
        }
    </script>


}




