@model FishBusiness.ViewModels.CollectorVm
@section Styles {

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/css/apps/scrumboard.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/forms/theme-checkbox-radio.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL STYLES -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&amp;display=swap" rel="stylesheet">
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/structure.css" rel="stylesheet" type="text/css" class="structure" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!--  BEGIN CUSTOM STYLE FILE  -->

    <link rel="stylesheet" type="text/css" href="~/plugins/jquery-step/jquery.steps.css">
    <style>
        #formValidate .wizard > .content {
            min-height: 25em;
        }

        #example-vertical.wizard > .content {
            min-height: 24.5em;
        }
    </style>
}
<div class="col-lg-12  layout-spacing">
    <div class="container row">
        <div class="page-header m-3">
            <div class="page-title">
                <h3>التحصيل عن يوم</h3>

            </div>
            <input type="date" id="date" class="form-control col-4" />
            <a id="btnconfirm" class="btn btn-primary" as style="margin-right:10px;">تاكيد</a>

        </div>
        <div class="mt-4 ml-auto">
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">الرئيسية</a>
            <a asp-action="Profile" asp-controller="Collectings" class="btn btn-primary">صفحة العمل</a>

        </div>
    </div>

    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                @*<div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>Vertical</h4>
                </div>*@
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <div id="pill-vertical">
                <h3>مدفوعات للحلقة</h3>
                <section>
                    <div class="widget-content widget-content-area br-6">
                        <h3>مدفوعات للحلقة</h3>
                        <img src="~/assets/img/loader.gif" class="loader" style="width:100px;height:100px;display:none" />
                        <div class="table-responsive mb-4 mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th>اسم التاجر</th>
                                        <th>المدفوع</th>

                                    </tr>
                                </thead>
                                <tbody id="TBody1">
                                </tbody>
                                <tfoot>

                                    <tr id="totalOfPayment_tr4">
                                        <td>
                                            الاجمالى
                                        </td>
                                        <td id="TBody1Total">
                                            0
                                        </td>
                                    </tr>

                                </tfoot>

                            </table>


                        </div>




                    </div>
                </section>
                <h3>مدفوعات للتجار</h3>
                <section>
                    <div class="widget-content widget-content-area br-6">
                        <h3>مدفوعات للتاجر</h3>
                        <img src="~/assets/img/loader.gif" class="loader" style="width:100px;height:100px;display:none" />
                        <div class="table-responsive mb-4 mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th>اسم التاجر</th>
                                        <th>المبلغ</th>



                                    </tr>
                                </thead>
                                <tbody id="TBody2">
                                </tbody>

                                <tfoot>

                                    <tr id="totalOfPayment_tr4">
                                        <td>
                                            الاجمالى
                                        </td>
                                        <td id="body2Total">
                                            0
                                        </td>
                                    </tr>

                                </tfoot>

                            </table>


                        </div>


                        @*<div class="form-group">
                    <label class="control-label">تلج</label>
                    <input type="text" id="ice" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">عمال</label>
                    <input type="text" id="labour" class="form-control" />
                </div>
                <input type="button" id="CalcProfit" class="btn btn-primary" style="margin-right:135px;;" value="حساب الارباح" />

                <div class="row mt-4">
                    <h6>اجمالى الربح</h6>
                    <label class="text-info" style="margin-right:100px;" id="totalOfProfits">0</label>
                </div>*@


                    </div>
                </section>
                <h3>هالك</h3>
                <section>
                    <div class="widget-content widget-content-area br-6">
                        <h3>هالك</h3>
                        <img src="~/assets/img/loader.gif" class="loader" style="width:100px;height:100px;display:none" />
                        <div class="table-responsive mb-4 mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th>اسم المركب</th>
                                        <th>المبلغ</th>
                                        <th>نوع الهالك</th>

                                    </tr>
                                </thead>
                                <tbody id="TBody3">
                                </tbody>
                                <tfoot>

                                    <tr id="totalOfPayment_tr4">
                                        <td>
                                            الاجمالى
                                        </td>
                                        <td id="body3Total">
                                            0
                                        </td>
                                    </tr>

                                </tfoot>
                            </table>


                        </div>
                    </div>
                </section>
                <h3>نثريات</h3>
                <section>
                    <div class="widget-content widget-content-area br-6">
                        <h3>نثريات</h3>
                        <img src="~/assets/img/loader.gif" class="loader" style="width:100px;height:100px;display:none" />
                        <div class="table-responsive mb-4 mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th>الاسم</th>
                                        <th>المبلغ</th>


                                    </tr>
                                </thead>
                                <tbody id="TBody4">
                                </tbody>
                                <tfoot>

                                    <tr id="totalOfPayment_tr4">
                                        <td>
                                            الاجمالى
                                        </td>
                                        <td id="TBody4Total">
                                            0
                                        </td>
                                    </tr>

                                </tfoot>
                            </table>


                        </div>
                    </div>
                </section>
                <h3>رصيد احمد فتح الله</h3>
                <section>
                    <div class="widget-content widget-content-area br-6">
                        <h3>رصيد احمد فتح الله </h3>
                        <img src="~/assets/img/loader.gif" class="loader" style="width:100px;height:100px;display:none" />
                        <div class="table-responsive mb-4 mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        @*<th></th>*@
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>المبلغ</td>
                                        <td id="totalAhmed">0</td>
                                    </tr>
                                </tbody>


                            </table>


                        </div>
                    </div>
                </section>
                <h3>اجمالي نقدي</h3>
                <section>
                    <div class="widget-content widget-content-area br-6">
                        <h3>اجمالي نقدي </h3>
                        <img src="~/assets/img/loader.gif" class="loader" style="width:100px;height:100px;display:none" />
                        <div class="table-responsive mb-4 mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        @*<th></th>*@
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>المبلغ</td>
                                        <td id="totalCash">0</td>
                                    </tr>
                                </tbody>


                            </table>


                        </div>
                    </div>
                </section>
                <h3>مصروف مركب شريك</h3>
                <section>
                    <div class="widget-content widget-content-area br-6">
                        <h3>مصروف مركب</h3>
                        <img src="~/assets/img/loader.gif" class="loader" style="width:100px;height:100px;display:none" />
                        <div class="table-responsive mb-4 mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th>اسم المركب</th>
                                        <th>المبلغ</th>
                                        <th>سبب المصروف</th>

                                    </tr>
                                </thead>
                                <tbody id="TBodyExpenses">
                                </tbody>
                                <tfoot>

                                    <tr id="totalOfPayment_trExpenses">
                                        <td>
                                            الاجمالى
                                        </td>
                                        <td id="bodyExpensesTotal">
                                            0
                                        </td>
                                    </tr>

                                </tfoot>
                            </table>


                        </div>
                    </div>
                </section>

                <h3>الاجمالى</h3>
                <section>
                    <div class="widget-content widget-content-area br-6">
                        <h3>الاجمالى</h3>
                        <img src="~/assets/img/loader.gif" class="loader" style="width:100px;height:100px;display:none" />
                        <div class="table-responsive mb-4 mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th>القيمه</th>
                                        <th>المبلغ</th>


                                    </tr>
                                </thead>
                                <tbody id="TBody5">
                                </tbody>
                                <tfoot>

                                    <tr id="totalOfPayment_tr6">
                                        <td>
                                            المتبقى
                                        </td>
                                        <td id="body5Total">
                                            0
                                        </td>
                                    </tr>

                                </tfoot>
                            </table>


                        </div>
                    </div>
                </section>
            </div>


        </div>
    </div>
</div>


               

<input type="text" id="indexer" style="display:none" value="0" />
<input type="text" id="totalPaidForMerchants" style="display:none" value="0" />

@section scripts{
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/app.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="~/plugins/highlight/highlight.pack.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/js/scrollspyNav.js"></script>
    <script src="~/plugins/jquery-step/jquery.steps.min.js"></script>
    <script src="~/plugins/jquery-step/custom-jquery.steps.js"></script>
    <script>

        $(document).ready(function () {


            $("#btnconfirm").on('click', function () {
                var date = $('#date').val();

                $(".loader").show();

                body1 = $("#TBody1");
                body2 = $("#TBody2");
                body3 = $("#TBody3");
                body4 = $("#TBody4");
                body5 = $("#TBody5");
                bodyExpenses = $("#TBodyExpenses");

                $.ajax({
                    url: "/Collectings/ProfileOfDayData",
                    type: "GET",
                    contentType: "json",
                    data: { Date: date },
                    traditional: true,
                    success: function (result) {
                        if (result.message == "success") {

                            $(".loader").hide();
                            body1.empty();

                            $.each(result.paidForUs, function (i, item) {

                                body1.append("<tr>" +
                                    "<td>" + item.merchantName + "</td>" +
                                    "<td>" + item.payment + "</td>" +
                                    "</tr>");
                            });

                            $("#TBody1Total").text(result.totalPaidForUs)

                            //---------------------------------------

                            body2.empty();

                            $.each(result.paidForMerchant, function (i, item) {

                                body2.append("<tr>" +
                                    "<td>" + item.merchantName + "</td>" +
                                    "<td>" + item.payment + "</td>" +
                                    "</tr>");
                            });

                            $("#body2Total").text(result.totalPaidForMrchant)

                            //-----------------------------------------
                            body3.empty();

                            $.each(result.halek, function (i, item) {

                                body3.append("<tr>" +
                                    "<td>" + item.boatName + "</td>" +
                                    "<td>" + item.price + "</td>" +
                                    "<td>" + item.debtName + "</td>" +
                                    "</tr>");
                            });

                            //------------------------------------
                            $("#body3Total").text(result.totalOfHalek)
                            //---------------------------------------------------


                            body4.empty();

                            $.each(result.additionalItems, function (i, item) {

                                body4.append("<tr>" +
                                    "<td>" + item.name + "</td>" +
                                    "<td>" + item.value + "</td>" +

                                    "</tr>");
                            });

                            $("#TBody4Total").text(result.totalOfAdditional)
                            //------------------------------------
                            bodyExpenses.empty();

                            $.each(result.expenses, function (i, item) {

                                bodyExpenses.append("<tr>" +
                                    "<td>" + item.boatName + "</td>" +
                                    "<td>" + item.price + "</td>" +
                                    "<td>" + item.cause + "</td>" +
                                    "</tr>");
                            });
                            //----------------------
                            $("#bodyExpensesTotal").text(result.totalExpenses)

                            //----------------------------------------------

                            $("#totalAhmed").text(result.ahmedFathAllah);
                            $("#totalCash").text(result.cash);

                            //--------------------------------

                            body5.empty();

                            body5.append("<tr>" +
                                "<td>اجمالى المدفوع للحلقه</td>" +
                                "<td>" + result.totalPaidForUs + "</td>" +
                                "</tr>");
                            body5.append("<tr>" +
                                "<td>اجمالى ما دفعناه </td>" +
                                "<td>" + result.totalPaidFromUs + "</td>" +
                                "</tr>");

                            $("#body5Total").text(parseFloat(result.totalPaidForUs) - parseFloat(result.totalPaidFromUs));
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'حدث خطأ',
                                text: 'لا يوجد بيانات لهذا التاريخ',
                            });
                            $(".loader").hide();
                        }

                    },
                    error: function () {
                        $(".loader").hide();
                        Swal.fire({
                            icon: 'error',
                            title: 'حدث خطأ',
                            text: 'حدث خطأ',
                        });
                    }
                });


            })
        })

    </script>


}

