@model FishBusiness.Models.Cofig

@{
    ViewData["Title"] = "Create";
}

<div class="page-header m-3">
    <div class="page-title">
        <h3 class="mr-2">اضافة عموله</h3>
    </div>
</div>
<div class="container mt-3 col-6">
    <form asp-action="Create">
        <div class="form-group mb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Name" class="text-black font-weight-bold "> اسم العموله</label>
            <input asp-for="Name" class="form-control" aria-describedby="emailHelp1" placeholder=" اسم العموله">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Value" class="text-black font-weight-bold ">قيمة العموله</label>
            <input asp-for="Value" class="form-control" aria-describedby="emailHelp1" placeholder="قيمة العموله">
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3 ml-auto">حفظ</button>
        <a asp-action="Index" class="btn btn-secondary mt-3">عوده الي القائمة</a>
    </form>
</div>

